.parent{
    background-color: rgb(183, 255, 255);
    padding-top: 20px;
    padding-bottom: 80px;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
.intro{
    padding-left: 20px;
    text-align: start;
}
.tbl{
    margin: auto;
}
.end{
    display: flex;
    justify-content: center;
}
#btn{
    height: 22px;
    /* padding: 10px 20px; */
}
